@use '@/assets/styles/mixins' as *;

.app-global-settings {
  position: fixed;
  right: 24px;
  bottom: 24px;
  z-index: 1000;
}

// 设置 Popover 内容样式
.settings-content {
  box-shadow:
    hsl(206deg 22% 7% / 35%) 0 10px 38px -10px,
    hsl(206deg 22% 7% / 20%) 0 10px 20px -15px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;

  &[data-state='open'][data-side='top'] {
    animation-name: slide-down-and-fade;
  }

  @keyframes slide-down-and-fade {
    from {
      transform: translateY(20px);
      opacity: 0;
    }

    to {
      transform: translateY(0);
      opacity: 1;
    }
  }
}

.settings-item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  height: 35px;
  color: var(--color-primary);
  font-family: inherit;
  background-color: var(--color-white);
  border-radius: 100%;
  box-shadow: 0 2px 10px var(--black-a7);
  transition: all 0.3s ease;

  &:hover {
    background-color: var(--violet-3);
  }
}

.tooltip-content {
  padding: 6px 10px;
  color: var(--gray-1);
  font-size: 14px;
  line-height: 1;
  background-color: var(--gray-12);
  border-radius: 4px;
  animation-duration: 400ms;
  animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  user-select: none;
  will-change: transform, opacity;
}

.tooltip-arrow {
  fill: var(--gray-12);
}
